* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.light {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background-color: lightseagreen;
}

.dark {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background-color: lightslategray;
}

.nav2 {
  display: flex;
  gap: 20px;
}

